
# ~/.fzf.conf

# Set default options for fzf
export FZF_DEFAULT_OPTS='
  --color=fg:-1,fg+:#d0d0d0,bg:-1,bg+:#262626
  --color=hl:#5f87af,hl+:#5fd7ff,info:#afaf87,marker:#87ff00
  --color=prompt:#d7005f,spinner:#af5fff,pointer:#af5fff,header:#87afaf
  --color=border:#262626,label:#aeaeae,query:#d9d9d9
  --border=rounded --border-label=Search --border-label-pos=0 --preview-window=border-rounded
  --padding=1 --margin=1 --prompt="♥︎  " --marker="➤"
  --pointer="→" --separator="─" --scrollbar="│"'
  # --preview="bat --style=numbers --color=always --line-range=:500 {}"'

# Full-screen layout
export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS --layout=reverse --height=100%"

# Set default command to use ripgrep for searching files
export FZF_DEFAULT_COMMAND='rg --files --hidden --follow --glob "!.git/*"'

# Customize key bindings
export FZF_CTRL_T_OPTS="--preview 'head -n 100 {}'"
export FZF_ALT_C_OPTS="--preview 'tree -C {} | head -n 100'"

# Tmux integration
export FZF_TMUX_OPTS='-d 40%'
alias fzf-tmux='fzf-tmux -p 80%,60%'

# Aliases
alias fzf_find='fzf --layout=reverse --border'
alias fzf_git_files='fzf --preview="git diff --color=always {} | head -200"'
alias fzf_cd='cd $(fzf)'

# Functions
# Search for files
fzo() {
  local file
  file=$(fzf --preview="bat --style=numbers --color=always --line-range=:500 {}")
  [ -n "$file" ] && nvim "$file"
}

# History
fzh() {
  local command
  command=$(history | fzf --height 40% --layout=reverse --border --preview="echo {}" --preview-window=down:3:wrap)
  eval "$command"
}

# ssh hosts
fzssh() {
  local host
  host=$(grep "Host " ~/.ssh/config | awk '{print $2}' | fzf --height 40% --layout=reverse --border)
  [ -n "$host" ] && ssh "$host"
}

# Honestly no idea 
fzgir() {
  local commit
  commit=$(git log --oneline | fzf --height 40% --layout=reverse --border --multi)
  [ -n "$commit" ] && git rebase -i "$(echo "$commit" | tail -1 | awk '{print $1}')^"
}

# Man Pages
fzman() {
  local cmd
  cmd=$(man -k . | fzf --height 40% --layout=reverse --border | awk '{print $1}')
  [ -n "$cmd" ] && man "$cmd"
}

# Alias files
fzalias() {
  local alias
  alias=$(alias | fzf --height 40% --layout=reverse --border --preview="echo {}" --preview-window=down:3:wrap)
  [ -n "$alias" ] && echo "$alias" | pbcopy && $EDITOR ~/.zshrc
}

# clipboard
fzclip() {
  local clip
  clip=$(pbpaste | fzf --height 40% --layout=reverse --border --preview="echo {}")
  [ -n "$clip" ] && echo "$clip" | pbcopy
}

# configutation files
fzfconfs() {
  local file
  file=$(find /etc ~/.config -type f 2>/dev/null | fzf --height 40% --layout=reverse --border --preview='bat --style=numbers --color=always --line-range=:500 {}')
  [ -n "$file" ] && nvim "$file"
}


# fzf directory selector for http-server starting from the home directory
fzserve() {
  local dir
  dir=$(find ~/ -type d \
    ! -path '*/node_modules/*' \
    ! -path '*/vendor/*' \
    ! -path '*/__pycache__/*' \
    ! -path '*/.git/*' \
    ! -path '*/.cache/*' \
    | fzf --height 40% --layout=reverse --border --prompt='Select directory to serve: ' --border=rounded --info=inline --pointer='➤' --marker='✔' --cycle --ansi --preview='tree -C {} | head -n 20' --preview-window=right:50%:wrap)
  
  [ -n "$dir" ] && cd "$dir" && http-server -p 8000 -a 0.0.0.0
}

